!!! 5
html
  head
    title أوتار
    include like_btns_headers
    link(rel="icon", type="image/png", href="/icon.png")
    != css('index')
    script(src="/jquery.js", type="text/javascript")
    script(src="/underscore-min.js", type="text/javascript")
    script(src="/jquery.hotkeys.js", type="text/javascript")
    script(src="/jquery.cookie.js", type="text/javascript")
    script(src="/artisan-min.js", type="text/javascript")
    script(src="/sink.js", type="text/javascript")
    script(src="/ga.js", type="text/javascript")
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Ubuntu|Play")
  body
    .content_wrapper
      links = {'About': '/about', 'Feedback': '/feedback', 'Code':"http://github.com/hasenj/oud"}
      #header 
          a(href="/")
            .logo
               h1 Oriental Strings
               h3 Music Keyboard + Arabic Maqam
          //
            ul.tabs
              for url, name in links
                li: a(href=url) #{name}
      #content !{body}
      footer
        .footer_content
          for url, name in links
            div.link
              a(href=url) #{name}
          include like_btns
      
